#  参考: https://www.cnblogs.com/q149072205/p/11541693.html
[Uint]
Description=world auto start

[Service]
ExecStart=/bin/sh /etc/systemd/system/world_start.sh

[Install]
WantedBy=ssh.target
WantedBy=multi-user.target
